* * {
  padding: 0px;
  margin: 0px;
}

.block-float-left {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: green;
  float: left;
}

.block {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: yellow;
}

.inline-block {
  width: 150px;
  height: 150px;
  margin-right: 25px;
  border: 1px solid black;
  background-color: yellow;
  display: inline-block;
}

.inline {
  display: inline;
  background-color: yellow;
  padding: 0px 75px;
  margin: 7px;
}

.block-float-right {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: green;
  float: right;
}

.img-float-left {
  float: left;
}

.img-float-right {
  float: right;
}

.clearfix {
  clear: both;
}

.clearfix-clear-left {
  clear: left;
}

.clearfix-clear-right {
  clear: right;
}
